.loginContent {
    width: 100%;
    height: 100vh;
    background-color: #e2e4e8;

    .login-form {
        width: 30%;
        height: 400px;
        border: 3px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        position: relative;
        left: 60%;
        top: 15%;
        padding: 40px;

        /deep/ .el-input__inner {
            border-top: 0;
            border-left: 0;
            border-radius: 0;
            border-right: 0;
            padding: 0;
        }

        /deep/ .el-form-item__label {
            font-size: 16px;
            color: #222;
            opacity: .75;
        }

        .word {
            font-size: 30px;
            font-weight: 400;
            position: relative;
            top: -20px;
        }

        .buttonSub {
            width: 100%;
            height: 40px;
            ;
        }
    }

    .borderClient {
        .wordName {
            text-align: center;
            margin-bottom: 10px;
            font-size: 14px;
            opacity: .7;
            margin-top: 50px;
        }

        .img {
            border: 1px solid #ddd;
            width: 40%;
            height: 180px;
            margin: auto;

            .imgWord {
                font-size: 100px;
                line-height: 160px;
                text-align: center;
                height: 160px;
                margin: 10px;
                ;
                background-color: rgb(230, 162, 60);
                cursor: pointer;
                color: #fff;
            }
        }
        .changeLogin {
            width: 50%;
            height: 40px;
            margin:20px auto;
            text-align: center;
            cursor: pointer;
            /deep/ .el-icon-sort {
               transform:rotate(90deg);
               font-size: 20px;
               color:#f2784b;
            }
            span {
                color:#f2784b;
                font-size: 20px;
                margin-left: 5px;
            }
        }
    }
}